# Application Environment
APP_ENV=development

# Server Configuration
PORT=8080

# Secrets (Do NOT place actual credentials here)
DATABASE_URL=postgres://user:password@localhost:5432/dbname
API_KEY=34yweyfwef8wery423r327rhfd8wy48y3yrew8fry8r4
